@charset "utf-8";
/* CSS Document */
body{
	background-image:url(../images/banner.jpg);
	 }
	
div.setpwd{
	text-align:center;
	color:#555;
	alignment-adjust:central; 	  
background-color:#E1E1E1;
    height:500px;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	margin-top:2%;
	margin-bottom:2%;
	box-shadow:#AAA;
	-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
	}
	div.longtitile{
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	color:#777;
	font-size:20px;
	alignment-adjust:central;
}

.longtitile input[type='password']
{

    outline: none;
    font-size: 15px;
    font-weight: 500;
    color: #818181;
    padding: 5px 5px;
    background: #CACACA;
    border: 1px solid #ccc;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    margin: 0px 0px 12px 0px;
    -webkit-appearance: none;
	
	}

	div.settitle{
		background-color:#F45B4B;
		 height:10%; 
		 text-align:center;
    margin: 20px 0px 10px 0px;
	display: block;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -o-border-radius: 25px;
    margin: 0px 0px 12px 0px;
    -webkit-appearance: none;
		}
		.setpwd  p{
			width:60%
			position:absolute;
			background-color:#F45B4B;
		 height:15%; 
	display: block;
    border-radius: 25px 25px 0px 0px;

 	text-align:center;
    font-size: 30px;
    color:#FFF;
    margin: 10px 0px 20px 0px;
    font-weight: bold;
	}
	
	.setpwd span{
		position:relative;
		top:30%;
		
	}
	
	.setpwd  input[type="button"] {
    background: #F45B4B;
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
    padding: 8px 7px;
    width: 20%;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    margin: 0px 7px 0px 3px;
    outline: none;
    border: none;
}
.setpwd  input[type="button"]:hover {
    background: #818181;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}