@charset "utf-8";
/* CSS Document */

.notification-boxes .box {
    margin-bottom: 30px;
    padding: 30px;
    color: #fff;
    text-align: center;
    background-color: #009bdb;
	height:300px;
}
.notification-boxes .box:hover {
    background-color: #0091cd;
}
.notification-boxes .box h4 {
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}
.notification-boxes .box .fa {
    margin-bottom: 5px;
    font-size: 40px;
}
.notification-boxes .box p {
    line-height: 22px;
}
.notification-boxes .box .btn-transparent {
    margin-top: 10px;
    font-weight: bold;
}
.notification-boxes .box {
    -webkit-box-shadow: 4px 4px rgba(85, 85, 85, 0.2);
    -moz-box-shadow: 4px 4px rgba(85, 85, 85, 0.2);
    box-shadow: 4px 4px rgba(85, 85, 85, 0.2);
}
.notification-boxes .box:hover{
    -webkit-box-shadow: 6px 6px rgba(85, 85, 85, 0.4);
    -moz-box-shadow: 6px 6px rgba(85, 85, 85, 0.4);
    box-shadow: 6px 6px rgba(85, 85, 85, 0.4);
}